<!DOCTYPE html>
<html>
    <head>
        <title>ws</title>
    </head>
    <body>
        <h1>WebsocketChannelEndpoint</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <label>group_id: </label><input type="text" id="groupId" autocomplete="off" value="group_1"><br/>
            <label>username: </label><input type="text" id="username" autocomplete="off" value="test_user1"><br/>
            <label>message: </label><input type="text" id="messageText" autocomplete="off" value="test_message1"><br/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            let client_id = Date.now();
            document.querySelector("#ws-id").textContent = client_id;
            let ws = new WebSocket(`ws://localhost:8000/chat/ws/${client_id}?group_name=MyChat`);
            ws.onmessage = function(event) {
                console.log('Message received %s', event.data)
                let messages = document.getElementById('messages');
                let message = document.createElement('li');
                let data = JSON.parse(event.data);
                message.innerHTML = `<strong>${data.username} :</strong> ${data.message}`;
                messages.appendChild(message);
            };
            function sendMessage(event) {
                let username = document.getElementById("username");
                let group_id = document.getElementById("groupId");
                let input = document.getElementById("messageText");
                let data = {
                    "group_id": group_id.value,
                    "username": username.value,
                    "message": input.value,
                };
                console.log('Message send %s', data)
                ws.send(JSON.stringify(data));
                event.preventDefault();
            }
        </script>
    </body>
</html>